h1 {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 100;
  font-size: 24px;
  margin: 0;
  padding: 0;
  color: #424242;
  margin-bottom: 20px;
}

h2 {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin:  0;
  padding: 0;
  color: #a1a1a1;
  margin-bottom: 20px;
}

.main-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 100%;
}

.component-container {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap:    8px;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-template-rows:    repeat(auto-fill, 400px);
  min-width: 0px;
  padding: 8px;
  background: #ececec;
  overflow: hidden;
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
}

.test {
  background-color: red;
}

.data-sider {
  padding: 16px;
  display: grid;
  grid-row-gap: 16px;
  grid-template-rows: max-content;
  /* border-right: 1px solid #d1d1d1; */
}

.options-sider {
  padding: 16px;
  display: grid;
  grid-row-gap: 16px;
  grid-template-rows: max-content;
  /* border-left: 1px solid #d1d1d1; */
}

.main {
  display: grid;
  grid-auto-flow: column;
  height: 100%;
  width: 100%;
  min-width: 0px;
  max-width: 100%;
  justify-content: space-between;
  grid-template-columns: 240px 1fr 240px;
}

.main-content {
  display: grid;
}
