.dd-content {
  border: 1px dashed #0000f5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  color: #888888;
  font-size: 14px;
  background: white;
  font-weight: 200;
  cursor: pointer;
}

.dd-content-new {
  height: 48px;
  margin-top: 8px;
}

.dd-content-new p {
  height: 48px !important;
}

.dd-content div {
  width: 100%;
  text-align: center;
}

.dd-content p {
  margin: 0;
  padding: 16px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dd-content:hover {
  background: #e8e8e8;
  color: #424242;
}

.file-details {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 8px;
}

.file-details h1 {
  font-size: 32px;
  margin: 0;
  color: #424242;
  line-height: 1;
}

.file-subtitle {
  font-size: 14px;
  color: #b7b7b7;
}
