.vis-card-container .ant-card-head-title {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #424242;
}

.vis-card-container h2 {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin:  0;
  padding: 0;
  color: #a1a1a1;
  margin-bottom: 20px;
}

.vis-card-container .ant-card-extra {
  cursor: pointer;
}

.vis-card-container .ant-card-extra:hover {
  cursor: pointer;
  color: blue;
}

.vis-card-container .ant-card-extra:hover {
  cursor: pointer;
  color: blue;
}

.vis-card-container .ant-card-head {
  cursor: pointer;
  background: #fcfcfc;
  color: #424242;
}

.vis-card-container .ant-card-head:hover {
  background-color: #fafafa;
}

.vis-card-container .data-table .ant-table{
  font-size: 12px;
}

.data-table .ant-table-thead {
  background: #fcfcfc;
  font-weight: 500;
}

.vis-card-container {
  border-radius: 8px;
  background: white;
  padding: 16px;
  display: grid;
  grid-template-rows: 32px auto;
  grid-template-columns: 100%;
  grid-row-gap: 16px;
}

.vis-card-container .vis-card-content {
  display: grid;
}

.vis-card-container .vis-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vis-card-container .vis-card-header h1 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #828282;
  font-weight: 100;
}

.vis-card-content .ant-tabs {
  height: 100%;
  width: 100%;
}

.vis-card-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.vis-card-tab-title {
  font-size: 14px;
  width: 100%;
  font-weight: 500;
  color: #848484;
}

.vis-card-tab-content {
  display: grid;
}

.vis-card-data-field {
  display: flex;
  flex-direction: column;
}

.vis-card-tab-inputs {
  display: grid;
  justify-content: flex-start;
  align-items: end;
  grid-row-gap: 4px;
}

.color-picker-popover {
  top: 44px;
}

.vis-card-content .data-table {
  width: 100%;
}

.vis-card-data-title {
  border-bottom: 1px solid #e8e8e8;
  color: #424242;
  font-weight: 500;
  font-size: 14px;
}

.vis-card-tab-content {
  align-items: flex-start;
  grid-row-gap: 8px;
  grid-auto-rows: min-content;
}

.vis-card-data-columns {
  display: grid;
  grid-row-gap: 8px;
}

.vis-card-data-aggregate {
  display: grid;
  grid-row-gap: 8px;
}

.vis-card-column-input {
  position: relative;
}

.vis-card-checkbox {
  display: grid;
  position: relative;
}

/* .vis-card-checkbox span {
display: grid;
position: relative;
} */

.vis-card-tab-inputs .ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0;
}

.vis-card-inputs {
  height: 140px;
  overflow-y: scroll;
}

.vg-color-picker-btn {
  margin-left: 4px;
  margin-right:4px;
}

.vg-select-function-btn {
  margin-left: 4px !important;
}
