.vis-card-container .ant-card-head-title {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #424242;
}

.vis-card-container h2 {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin:  0;
  padding: 0;
  color: #a1a1a1;
  margin-bottom: 20px;
}

.vis-card-container .ant-card-extra {
  cursor: pointer;
}

.vis-card-container .ant-card-extra:hover {
  cursor: pointer;
  color: blue;
}

.vis-card-container .ant-card-extra:hover {
  cursor: pointer;
  color: blue;
}

.vis-card-container .ant-card-head {
  cursor: pointer;
  background: #fcfcfc;
  color: #424242;
}

.vis-card-container .ant-card-head:hover {
  background-color: #fafafa;
}

.vis-card-container .data-table .ant-table{
  font-size: 12px;
}

.data-table .ant-table-thead {
  background: #fcfcfc;
  font-weight: 500;
}

.vis-card-container {
  border-radius: 8px;
  background: white;
  padding: 16px;
  display: grid;
  grid-template-rows: 32px auto;
}

.vis-card-container .vis-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.vis-card-container .vis-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vis-card-container .vis-card-header h1 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #828282;
  font-weight: 100;
}

.vis-card-content .ant-tabs {
  height: 100%;
  width: 100%;
}

.vis-card-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.vis-card-tab-title {
  font-size: 12px;
  margin-bottom: 4px;
  width: 100%;
}

.vis-card-tab-content {
  display: grid;
}

.vis-card-data-field {
  display: flex;
  flex-direction: column;
}

.vis-card-tab-inputs {
  display: grid;
  position: relative;
  grid-auto-flow: column;
  grid-column-gap: 8px;
}

.color-picker-popover {
  top: 44px;
}
