.viz-container .ant-card-head-title {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #424242;
}

.viz-container h2 {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin:  0;
  padding: 0;
  color: #a1a1a1;
  margin-bottom: 20px;
}

.viz-container .ant-card-extra {
  cursor: pointer;
}

.viz-container .ant-card-extra:hover {
  cursor: pointer;
  color: blue;
}

.viz-container .ant-card-extra:hover {
  cursor: pointer;
  color: blue;
}

.viz-container .ant-card-head {
  cursor: pointer;
  background: #fcfcfc;
  color: #424242;
}

.viz-container .ant-card-head:hover {
  background-color: #fafafa;
}

.viz-container .data-table .ant-table{
  font-size: 12px;
}

.data-table .ant-table-thead {
  background: #fcfcfc;
  font-weight: 500;
}

.viz-container {
  border-radius: 8px !important;
}
